#info-box {
    background-color: #6B4C3A;
    width: 30rem;
    height: 80rem;
    border-radius: 0.8rem;
    margin: 1rem 1rem;
}

#main-info-section {
    margin: 1rem 1rem
}

#line {
    border: 1px solid #000000;
    border-radius: 10rem;
    width: 95%;
}

#main-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 20rem;
    padding: 2rem 2rem;
    background-color: #3B2A2A;
    margin: 1rem 0 3rem 0;
}

#inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#button button {
    background-color: #6E401B;
    color: #FFFFFF;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 2rem;
    margin: 2rem 0 0 0;
}

#input-label {
    color: #FFFFFF;
    display: block;
}

#profile-menu {
    background-color: #6B4C3A;
    color: #FFFFFF;
    width: 10rem;
    height: 12rem;
    margin: 1rem 1rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-option {
    background-color: #3b2a2a;
    font-size: 12px;
    height: 1.5rem;
    width: 100%;
    margin: 0.1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-profile {
    display: flex;
    justify-content: center;
}

#menu-option-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    width: 20rem;
    height: 15rem;
    background-color: #6a4b3a;
    border-radius: 0.8rem;
}