#main-profile {
    display: flex;
    justify-content: center;
    height: 100vh
}

#profile-menu {
    position: relative;
    background-color: #6B4C3A;
    color: #FFFFFF;
    width: 22rem;
    height: 20rem;
    margin: 1rem 1rem;
    border-radius: 0.8rem;
    display: table-column;
    align-content: center;
    flex-shrink: 0;
}

#profile-option {
    background-color: #3b2a2a;
    font-size: 20px;
    height: 2.5rem;
    width: 100%;
    margin: 0.3rem 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-option-content {
    width: 40rem;
    height: 25rem;
    margin: 1rem 1rem;
    background-color: #6a4b3a;
    border-radius: 0.8rem;
}