<h2 id="article-title"></h2>
<section id="introduction"></section>
<section id="mythic-history"></section>
<section id="gallery"></section>
<section id="related-myths"></section>
<section id="related-characters"></section>
<section id="related-locations"></section>
<aside>
    <div>
        <button>&star; Favourite</button>
        <a href="#">Go to Forums</a>
    </div>
    <div id="infobox">
        <figure id="article-image">
            <img src="" alt="">
            <figcaption></figcaption>
        </figure>
        <div id="infobox-sections"></div>
    </div>
</aside>