<li xlu-include-file="/templates/illustrated-link.html" data-name="Olympos" data-image_url="/img/locations/O24.9Ganymedes.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Haides" data-image_url="/img/locations/K14.1Haides.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Elysion" data-image_url="/img/locations/the_elysian_fields.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Tartarus" data-image_url="/img/locations/tartarus.jpg">
</li>