<li xlu-include-file="/templates/illustrated-link.html" data-name="Aphrodite" data-image_url="/img/characters/greek-gods-aphrodite.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Apollo" data-image_url="/img/characters/greek-gods-apollo.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Ares" data-image_url="/img/characters/greek-gods-ares.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Artemis" data-image_url="/img/characters/greek-gods-artemis.jpg">
</li>