<li xlu-include-file="/templates/illustrated-link.html" data-name="The twelve labors of Heracles" data-image_url="/img/myths/heracles-hydra.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Zeus' abduction of Ganymede" data-image_url="/img/myths/Z32.2Ganymedes.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="Plato's island of Atlantis" data-image_url="/img/myths/The-Lost-City-of-Atlantis-Ancient-Greece.jpg">
</li>
<li xlu-include-file="/templates/illustrated-link.html" data-name="The Iliad" data-image_url="/img/myths/TheIliad.webp">
</li>